// _variables.css

// Definicion de colores
$primary-color: #3498db;
$secondary-color: #2ecc71;
$font-color: #2c3e50;

// Definicion de fuentes
$font-famiy-base: 'Arial, sans-serif';

// Definicion de espaciados
$spacing-base: 16px;
$spacing-large: 32px;
